.footer {
  background-color: #333333;
  padding: 10px 0;
  width: 100%;
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  width: 95%;
}

.instagram,.facebook {
  width: 32px;
}

.instagram {
  margin-left: 25px;
}

.footer__socialNetworks {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.footer__rights {
  font-size: 14px;
  color: #e7dddd;
  margin-bottom: 0;
  text-align: center;
}