.header {
  background-color: #eadbdd;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  width: 95%;
}

.header__logo {
  width: 50px;
}

.navigation {
  background-color: #252323;
  position: fixed;
  top: 0;
  transition: all .2s ease-in-out;
  right: 0;
  height: 100vh;
  width: 0;
  z-index: 2000;
}

.flex {
  width: 45%;
}

.block {
  display: block;
}

.menuBack {
  display: none;
  background-color: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: all .2s ease-in-out;
  bottom: 0;
  z-index: 1999;
}

.navigation__link {
  color: #fff;
  display: block;
  margin-top: 20px;
  text-align: center;
}

.header__buttonMenu {
  width: 34px;
}

/* .navigation__link {
  background-color: #f5b5b4;
  border-radius: 5px;
  color: #2c2525;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
  padding: 10px;
}  */

/* .--link {
  width: 85px;
} */

@media(min-width: 768px) {
  .navigation__link {
    padding: 13px;
  }
}