.content {
  margin: 0 auto;
  max-width: 1200px;
  width: 95%;
}

.content__container {
  margin-left: 8%;
  position: absolute;
}

.content__sectionParagraph {
  color: #e6b89b;
  text-transform: capitalize;
  width: 70px;
  line-height: 18px;
  font-size: 22px;
  margin-top: 30px;  
  width: 70px;
}

.content__sectionSecondParagraph {
  width: 130px;
  line-height: 15px;
  margin-top: 10px;
  width: 126px;
}

.--paragraph {
  font-family: 'Croissant One', cursive;
  line-height: 18px;
}

.content__sectionBanner {
  margin-top: 86px;
  width: 100%;
}

.content__images {
  margin-top: 20px;
}

.content__imagesTitle {
  color: #bf8076;
  font-family: 'Croissant One', cursive;
  font-weight: 200;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.content__list {
  margin: 1px;
}

.content__image {
  width: 100%;
}

@media(min-width: 260px) {
  .content__list {
    width: 100%;    
  }

  .content__image {
    height: auto;
  }
}

@media(min-width: 320px) {
  .content__imagesList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
    gap: 3px;
  }

  .content__image {
    width: 100%;
    height: 160px;
  }
}

@media(min-width: 768px) {
  .content__imagesList {
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  }

  .content__image {
    height: 250px;
  }
}

@media(min-width: 1024px) {
  .content__sectionBanner {
    object-fit: cover;
    height: 500px;
  }
}