.content {
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 1200px;
  width: 95%;
}

.content__container {
  margin-left: 8%;
  position: absolute;
}

.content__sectionParagraph {
  color: #e6b89b;
  text-transform: capitalize;
  width: 70px;
  line-height: 18px;
  font-size: 22px;
  margin-top: 30px;  
  width: 70px;
}

.content__sectionSecondParagraph {
  width: 130px;
  line-height: 15px;
  margin-top: 10px;
  width: 126px;
}

.--paragraph {
  font-family: 'Croissant One', cursive;
  line-height: 18px;
}

.content__sectionBanner {
  margin-top: 86px;
  width: 100%;
}

.content__images {
  margin-top: 20px;
}

.content__imagesTitle {
  color: #bf8076;
  font-family: 'Croissant One', cursive;
  font-weight: 200;
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.content__image {
  width: 100%;
}

.services__text {
  color: #bf8076;
  font-weight: 200;
  font-family: 'Croissant One', cursive;
  margin: 20px 0;
  font-size: 24px;
  text-transform: capitalize;
}

.services__listContainer {
  background-color: #252323;
  border-radius: 5px;
  font-family: sans-serif;
  height: 265px;
  padding: 12px;
  line-height: 1.0;
  width: 280px;
}

.services__title {
  color: #fff;
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.services__list {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services__listContainer:not(:last-child) {
  margin-bottom: 10px;
}

.services__price {
  margin-bottom: 8px;
}

.services__price::after {
  background-color: #fff;
  content: '';
  display: block;
  height: 1px;
  width: 30px;
}

.services__item,.services__price,.services__consultation {
  color: #e7dddd;
}

.services__readMore {
  background-color: #585656;
  border-radius: 5px;
  display: none;
  height: 300px;
  left: 50%;
  position: fixed;
  padding: 5px;
  top: 50%;
  transform: translate(-50%,-50%);
  right: 50%;
  height: auto;
  padding: 10px;
  width: 280px;
  z-index: 2000;
}

.--pedicure {
  margin: 30px 0 15px;
}

.services__buttonRead {
  cursor: pointer;
  color: #fff;
  position: relative;
  top: 8px;
  text-transform: capitalize;
  text-decoration: underline;
}

.overlay {
  background-color: rgba(0,0,0,.5);
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1999;
}

.scrollNone {
  overflow: hidden;
}

.information {
  margin-top: 20px;
}

.information__text {
  color: #bf8076;
  text-transform: capitalize;
  font-weight: 200;
  font-size: 24px;
  font-family: 'Croissant One', cursive;
}

.information__secondText {
  color: #501b2c;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
}

.information__button {
  background-color: #f5b5b4;
  border-radius: 5px;
  color: #2c2525;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
}

.reviews {
  color: #bf8076;
  font-family: 'Croissant One', cursive;
  font-size: 24px;
  font-weight: 200;
  text-transform: capitalize;
  margin-top: 25px;
}

.reviews__paragraph {
  font-family: sans-serif;
}

.avaliations {
  margin-top: 20px;
}

.avaliations__container {
  align-items: center;
  display: flex;
  margin-top: 10px;
}

.avaliations__imagens {
  display: flex;
}

.avaliations__facebook,.avaliations__yelp {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  text-transform: capitalize;
}

.avaliations__yelp {
  margin-top: 30px;
}

.block {
  display: block;
}

.none {
  display: none;
}

.avaliations__number {
  background-color: #e6e0e0;
  font-size: 22px;
  font-family: sans-serif;
  margin-right: 10px;
  text-align: center;
  padding: 20px 10px;
  width: 100px;
}

.avaliations__star {
  width: 17px;
}

.avaliationsUsers {
  margin-top: 30px;
}

.avaliations__text {
  color: #bf8076;
  font-size: 24px;
  font-family: 'Croissant One', cursive;
  font-weight: 200;
  text-transform: capitalize;
}

.carousel-item {
  text-align: center;
}

.comment {
  height: 90px;
  line-height: 15px;
}

.carousel-indicators {
  top: 105%;
}

.carousel-indicators li {
  border-radius: 50px;
  height: 10px;
}

.avaliations__list {
  display: inline-flex;
  margin-top: 20px;
}

.avaliations__user {
  text-align: center;
  padding: 5px;
  display: flex;
  border-radius: 5px;
  border: 1px solid #808080;
}

.nameClient {
  font-weight: bold;
  text-transform: capitalize;
}

.avaliations__image {
  border-radius: 50px;
  object-fit: cover;
  height: 90px;
  width: 90px;
}

.activeImage {
  height: 310px;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  z-index: 2000;
}

.telephoneContainer {
  bottom: 50px;
  position: fixed;
  left: 75%;
}
 
.contentUrlTelephone {
  border-radius: 50px;
  background-color: #eadbdd;
  padding: 20px 10px;
}

@media(min-width: 260px) {
  .content__list {
    width: 100%;    
  }

  .content__image {
    height: auto;
  }
}

@media(min-width: 320px) {
  .content__imagesList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
    gap: 3px;
  }

  .content__image {
    width: 100%;
    height: 160px;
  }
}

@media(min-width: 425px) {
  .services__listContainer,.services__readMore {
    width: 320px;
  }

  .activeImage {
    height: 350px;
    width: 330px;
  }
}

@media(min-width: 768px) {
  .content__imagesList {
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  }

  .content__image {
    height: 250px;
  }

  .services__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .services__listContainer {
    width: 360px;
  }

  .services__listContainer:not(:last-child) {
    margin: 2px;
  }
}

@media(min-width: 1024px) {
  .services__listContainer {
    width: 500px;
  }
}